.AddVacation input {
	width: 250px;
    box-sizing: border-box;
}

.AddVacation button {
	width: 250px;
    margin: 15px 0;
}

.AddVacation span {
    color: red;
    margin: 0 20px;
    position: absolute;
}