html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-style: italic;
    color: moccasin;
    background-image: linear-gradient(45deg,navy,#255, skyblue);
}

a {
    color: blue;
}

.Box {
    display: inline-block;
    text-align: left;
    border: 1px solid black;
    padding: 0 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: black 5px 5px 10px;
}
